:root {
  --worker-border: 5px;
}

.WorkerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 5px;
}

.WorkerName {
  background-color: red;
  border-radius: var(--worker-border) 0 0 var(--worker-border);
}

.WorkerBtn {
  background-color: yellow;
  overflow-wrap: break-word;
  text-align: center;
  border-radius: 0 var(--worker-border) var(--worker-border) 0;
}
